{% extends 'home.html' %}

{% block HOME %}

	<div class = "notify-up"><p>SE ELIMINARON LOS DATOS</p></div>
	<table class="table table-hover">
		<caption>LISTA CARRERAS INSCRITAS</caption>
		<thead>
			<tr>
				<th>n°</th>
				<th>nombre</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			{% for career in object_list %}
				<tr id = "autores">
					<td class="pk">{{career.id}}</td>
					<td>{{career.name}}</td>
					<td><a class="d" onclick = "dlt(event)" href="#"><i class="far fa-trash-alt"></i></a></td>
					<td><a class="d" href="http://127.0.0.1:8000/home/register/career?id={{career.id}}"><i class="fas fa-pen"></i></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class = "ant" href="http://127.0.0.1:8000/home">VOLVER AL INICIO</a>
	<script>

		var dlt = (event) => {

			let td = event.target.parentNode.parentNode
			var parent = td.parentNode
			let cd = {id : parent.getElementsByClassName('pk')[0].innerHTML}
			console.log(cd)

			let cabecera = {
				method:'delete',
				headers:{
					'content-type': 'application/json',
				},
				body: JSON.stringify(cd)
				
			}

			fetch('http://127.0.0.1:8000/home/register/career', cabecera).then(
				(resp) => parent.remove()
			)
		}
	</script>
	
{% endblock %} 