{% extends 'home.html' %}

{% block HOME %}

	<div class = "notify-up"><p>SE ELIMINARON LOS DATOS</p></div>
	<table class="table table-hover">
		<caption>LISTA DE DEFENSAS</caption>
		<thead>
			<tr>
				<th>n°</th>
				<th>tesis</th>
				<th>fecha</th>
				<th>Jurado</th>
				<th>Aula</th>
				<th>Periodo</th>
				<th>Observaciones</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			{% for def in object_list %}
				<tr id = "autores">
					<td class="pk">{{def.ndef}}</td>
					<td>{{def.thesis}}</td>
					<td>{{def.fecha}}</td>
					<td><select name="">
						
						{% for jury in def.jurys %}
							<option value="{{jury}}">{{jury}} - NOTA: {{jury.nota}}</option>
						{% endfor %}
					</select></td>
					<td>{{def.aula}}</td>
					<td>{{def.fecha.year}} - {% if def.fecha.month > 6 %}
							II
							{% else %}
							I
						{% endif %}</td>
					<td>{{def.observaciones}}</td>
					<td><a class="d" onclick = "dlt(event)" href="#"><i class="far fa-trash-alt"></i></a></td>
					<td><a class="d" href="http://127.0.0.1:8000/home/defending?ndef={{def.ndef}}"><i class="fas fa-pen"></i></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class = "ant" href="http://127.0.0.1:8000/home">VOLVER AL INICIO</a>
	<script>

		var dlt = (event) => {

			let td = event.target.parentNode.parentNode
			var parent = td.parentNode
			let cd = {'ndef' : parent.getElementsByClassName('pk')[0].innerHTML}

			let cabecera = {
				method:'delete',
				headers:{
					'content-type': 'application/json',
				},
				body: JSON.stringify(cd)
				
			}

			fetch('http://127.0.0.1:8000/home/defending', cabecera).then(
				(resp) => parent.remove()
			)
		}
	</script>
	
{% endblock %} 