{% extends 'home.html' %}

{% block HOME %}

	<div class = "notify notify-up"><p>SE ELIMINARON LOS DATOS</p></div>
	<table class="table table-hover">
		<caption>LISTA DE EMPRESAS</caption>
		<thead>
			<tr>
				<th>riff</th>
				<th>nombre</th>
				<th>direccion</th>
				<th>contacto</th>	
				<th>correo</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			{% for enterprise in object_list %}
				<tr id = "autores">
					<td class="pk">{{enterprise.riff}}</td>
					<td>{{enterprise.name}}</td>
					<td>{{enterprise.dirr}}</td>
					<td>{{enterprise.contact}}</td>
					<td>{{enterprise.mail}}</td>
					<td><a onclick = "dlt(event)" href="#"><i class="far fa-trash-alt"></i></a></td>
					<td><a href="http://127.0.0.1:8000/home/register/enterprise?riff={{enterprise.riff}}"><i class="fas fa-pen"></i></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class = "ant" href="http://127.0.0.1:8000/home">VOLVER AL INICIO</a>
	<script>

		var dlt = (event) => {

			let td = event.target.parentNode.parentNode
			var parent = td.parentNode
			let cd = {riff : parent.getElementsByClassName('pk')[0].innerHTML}
			console.log(cd)

			let cabecera = {
				method:'delete',
				headers:{
					'content-type': 'application/json',
				},
				body: JSON.stringify(cd)
				
			}

			fetch('http://127.0.0.1:8000/home/register/enterprise', cabecera).then(
				(resp) => parent.remove()
			)
		}
	</script>
	
{% endblock %} 