{% extends 'home.html' %}

{% block HOME %}

	<div class = "notify-up"><p>SE ELIMINARON LOS DATOS</p></div>
	<table class="table table-hover">
		<caption>LISTA DE NOTAS DE JURADOS</caption>
		<thead>
			<tr>
				<th>n°</th>
				<th>Defensa</th>
				<th>Jurado</th>
				<th>Nota</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			{% for nota in object_list %}
				<tr id = "autores">
					<td class="pk">{{nota.pk}}</td>
					<td>{{nota.defending.ndef}}</td>
					<td>{{nota.jury}}</td>
					<td>{{nota.nota}}</td>
					<td ><a class="d" onclick = "dlt(event)" href="#"><i class="far fa-trash-alt"></i></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class = "ant" href="http://127.0.0.1:8000/home">VOLVER AL INICIO</a>
	<script>

		var dlt = (event) => {

			let td = event.target.parentNode.parentNode
			var parent = td.parentNode
			let cd = {'id' : parent.getElementsByClassName('pk')[0].innerHTML}

			let cabecera = {
				method:'delete',
				headers:{
					'content-type': 'application/json',
				},
				body: JSON.stringify(cd)
				
			}

			fetch('http://127.0.0.1:8000/home/register/nota', cabecera).then(
				(resp) => parent.remove()
			)
		}
	</script>
	
{% endblock %} 