<!DOCTYPE html>
<html>
<head>
	<title>DETALLES THESIS</title>
</head>
<body>
	{% for te in tesis %}

		<p>Numerode tesis</p> <p>{{te.ntesis}}</p>
		<p>TITULO DE LA TESIS</p><p>{{te.title}}</p>
		<p>CEDULA DEL AUTOR</p><p>{{te.author}}</p>
		<p>INSTITUCION OBJETIVO</p><p>{{te.enterprise}}</p>
		<p>TUTOR INDUSTRIAL</p><p>{{te.tutorI}}</p>
		<p>TUTOR ACADEMICO</p><p>{{te.tutorA}}</p>
		<p>ESTATUS</p><p>{{te.status}}</p>
		<p>FECHA DE INICIO</p><p>{{te.inicio}}</p>
		<p>FECHA FINAL</p><p>{{te.final}}</p>
		<p>NOTA DEL TUTOR ACADEMICO</p><p>{{te.notata}}</p>
		<p>NOTA DEL TUTOR INDUSTRIAL</p><p>{{te.notati}}</p>
		<p>PERIODO ACADEMICO</p><p>{{te.period}}</p>
		<br/>

	{% endfor %}
</body>
</html>